@import '../abstracts/mixins';
@import '../abstracts/variables';

.page-title {
  text-align: center;
  padding: 4rem 0;
  background-color: $primary;
  color: $primary-font-lg;
}

.main-section {
  @include d-flex(row, center, start, wrap);

  max-width: 900px;
  margin: 0 auto;
}

.section {
  width: 100%;
  padding: 2rem;
}

/*
  ========
  Recent Scores
  ========
*/

.recent-scores-section {
  @include d-flex(row, space-between, center, wrap);

  margin-top: 2rem;

  &__title {
    display: inline-block;
    color: $gray-font;
  }

  &__scores {
    width: 100%;
    margin-top: 3rem;
    background-color: $white;

    &__score {
      padding: 1rem;

      &:nth-child(odd) {
        background-color: $primary;
        color: $primary-font;

        &:hover {
          background-color: $p-light;
          color: $primary-font;
        }
      }

      &:nth-child(even) {
        color: $white-font;

        &:hover {
          background-color: $gray;
        }
      }

      &:hover {
        transform: scale(1.05);
        transition: transform 0.2s ease-in;
      }
    }
  }
}

/*
  ========
  Add your score
  ========
*/

.add-score-section__title {
  color: $gray-font;
}

.submit-score-form {
  margin-top: 3rem;

  &__field-group {
    padding: 1rem 0;

    &__input {
      width: 100%;

      &::placeholder {
        font-size: inherit;
      }
    }
  }

  &__submit-btn {
    margin: 1.5rem 0;
  }
}

/*
  ========================

  Media Queries

  ========================
*/

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .page-title {
    text-align: left;
    max-width: 992px;
    margin: 4rem auto 0;
  }

  .main-section {
    justify-content: space-around;
  }

  .recent-scores-section {
    max-width: 500px;
  }

  .add-score-section {
    max-width: 300px;
  }
}
