@use '../abstracts/' as *;

.page-title {
  text-align: center;
  margin-top: 4rem;
}

.main-section {
  @include d-flex(row, center, center, wrap);
}

.section {
  margin-top: 5rem;
  width: 100%;
  padding: 2rem;
}

/*
  ========
  Recent Scores
  ========
*/

.recent-scores-section {
  @include d-flex(row, space-between, center, wrap);

  &__title {
    display: inline-block;
  }

  &__scores {
    height: 200px;
    width: 100%;
    border: black 2px solid;
    margin-top: 3rem;

    &__score {
      padding: 1rem;
    }
  }
}

/*
  ========
  Add your score
  ========
*/

.submit-score-form {
  margin-top: 3rem;

  &__field-group {
    padding: 1rem 0;

    &__input {
      width: 100%;

      &::placeholder {
        font-size: inherit;
      }
    }
  }

  &__submit-btn {
    margin: 1.5rem 0;
  }
}



