// Primary Colors
$primary: #ad1457;
$p-light: #e35183;
$p-dark: #78002e;

// White Space
$gray: rgb(225, 226, 225);
$white: rgb(246, 245, 246);

// Fonts
$primary-font-lg: rgba(255, 255, 255, 0.906);
$primary-font: rgba(255, 255, 255, 0.76);
$p-dark-font: rgba(255, 255, 255, 0.913);
$gray-font: rgb(131, 131, 131);
$white-font: rgb(75, 75, 75);
